<!-- <p>add works!</p>
<form [formGroup] = "idForm" (ngSubmit)="onSubmit">

    {{idForm | json}}

    {{idModel | json}}



    <div class="continer-fluid d-flex justify-content-center row" >
    
        
        <div class="col-lg-6">
            <label class="col-sm-2 col-form-label">Id</label>
        <input type="text" readonly class="form-control-plaintext" formControlName="id" [(ngModel)] ="idModel.id" value="1">
        </div>
   

    <div class="col-lg-6">
        <label for="">email</label>
        <input type="text" formControlName="name" class="form-control" formControlName="email" [(ngModel)] ="idModel.email"name="id">
        <span *ngIf="!idForm.get('email')?.valid && idForm.get('email')?.dirty" style="color: red;">Enter a valid E-mail</span>
    </div>

    <div class="col-lg-6">
        <label for="">income</label>
        <input type="text" formControlName="name" class="form-control" formControlName="inco" [(ngModel)] ="idModel.income">
    </div>

    <div class="col-lg-6">
        <label for="">income_name</label>
        <input type="text" formControlName="name" class="form-control" formControlName="iname" [(ngModel)] ="idModel.income_name">
    </div>

    <div class="col-lg-6">
        <label for="">expense</label>
        <input type="text" formControlName="name" class="form-control" formControlName="exp" [(ngModel)] ="idModel.expense">
    </div>

    <div class="col-lg-6">
        <label for="">expense_name</label>
        <input type="text" formControlName="name" class="form-control" formControlName="ename" [(ngModel)] ="idModel.expense_name">
    </div>

    <br>
    <br>
    <br>
    <div class="col-lg-6">
        <label for="">choose date</label>
        <input type="date" formControlName="date" [(ngModel)] ="idModel.date">
    </div>
    

    <br>
    <br>
    <br>
    <br>
    <div class="col-lg-6">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    
</div> 
    
</form> -->
